* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(255, 255, 255);
    max-width: 25em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.2);
}

.card p {
    padding: 0.5em 0 0.5em 0;
}