
li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    background-color: rgb(239, 232, 232);
}

i {
    padding: 15px;
    color: black;
}

.fa-facebook-square:hover {
    color: rgb(8, 8, 161);
}

.fa-twitter:hover {
    color: lightblue;
}

.fa-google-plus-circle:hover {
    color: coral;
}

.fa-linkedin-square:hover {
    color: blue;
}

.fa-instagram:hover {
    color: lightskyblue;
}