body{
    font-family: Helvetica, sans-serif;
}

header{
    border-bottom: 3px solid;
}

h2{
    font-size: 40px;
    position: relative;
    margin-bottom: 20px;
    
}


li{
    display: inline-block;
    list-style: none;
}

a{
    text-decoration: none;
    color: green;
    display: block;
    padding: 10px;
}

nav{
    position: absolute;
    left: 17%;
    top: 10.5%;
    transform: translateY(-100%);
}

